.div-nav {
    background-color: rgba(223, 238, 238, 0.884);
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(241, 173, 173, 0.582);
    text-align: center;
}

ul.nav li {
    display: inline-block;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgba(240, 128, 128, 0.74)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px double rgba(241, 173, 173, 0.582);
}

.header-align {
    text-align: center;
    color: rgba(150, 189, 189, 0.884);
}

.contact-align {
    text-align: center;
}

.contact-header {
    text-align: center;
    color: rgba(241, 173, 173, 0.582);
}